

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: orange;
}

/* --------------*/


/*-----------*/
/* NAV BAR */
/*-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: green;
    color: #fff;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    border: 0;
    background: pink;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary {
    background: transparent;
    border: 2px solid pink;
    color: green;
}

/* Section responsive */


@media all and (max-width: 991px) {

    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
}


/**********/
/* paiement page */
/**********/

.containerp{
    width:700px;
    height: 400px;
    border: 1px solid;
    background-color:#009900;
    margin-left:350px;
    flex-direction: column;
    padding: 30px;
    justify-content:space-around;
    justify-content:center;
    margin-bottom: 50px;
    margin-top:90px;


}

.containerp h1{
    text-align: center;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

.containerp a{

    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}



.cards img{
    width: 70px;
}


/* confirmer*/
.login-box form a {
    position: relative;
    display: inline-block;
    top: -40px;
    left: 0px;
    margin-left: 220px;
    font-size: 25px;
    padding: 1px 30px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin-top: 80px;
    background-color: orange
}

.login-box a:hover {
    background-color: red;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px orange,
    0 0 25px red,
    0 0 50px #00FF00,
    0 0 100px red;
}


/*-----------*/
/* FOOTER */
/*-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
footer{
    background: green;
    color: black;

    padding: 20px 0;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
li{
    list-style: none;
    line-height: 2;
}
a{
    text-decoration: none;
    color: black;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
}
.items p{
    margin: 1.2em 0;
}
.social{
    align-items: flex-start;
}
.social a{
    height: 30px;
    width: 30px;
    background: none;
    border-radius: 5px;
    margin:10px 5px;
    text-align: center;
}
.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.items h2{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -4px;
    left: 0;
}
hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
}
@media (max-width:640px){
    .items{
        flex-basis: 80%;
        margin: auto;
    }

}